<div class="row" id="zs_starter" ng-controller="GeneratePDFController">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label>dist Html 目录</label>
                <input placeholder="good" type="text" class="form-control" ng-model="distHtml">
            </div>
            <!--<div class="form-group">-->
                <!--<input type="checkbox" name="" id="" ng-model="generateHtml">-->
                <!--<label>生成静态 html</label>-->
            <!--</div>-->
            <div class="form-group">
            <button ng-click="startGeneration()" class="btn btn-block btn-primary">开始生成pdf文件</button>
            </div>
        </form>
    </div>
</div>
</div>